* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(180deg, #020617, #0f172a);
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #fbbf24;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 70px;
  gap: 50px;
}

.hero-left h1 {
  font-size: 54px;
  line-height: 1.1;
}

.hero-left span {
  color: #fbbf24;
}

.hero-left p {
  margin: 25px 0;
  max-width: 520px;
  color: #cbd5f5;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.btn {
  padding: 12px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background: linear-gradient(135deg, #fbbf24, #f59e0b);
  color: #020617;
}

.outline {
  border: 2px solid #fbbf24;
  color: #fbbf24;
}

/* STATS */
.stats {
  display: flex;
  gap: 40px;
}

.stats h3 {
  font-size: 26px;
  color: #fbbf24;
}

.stats span {
  font-size: 14px;
  color: #cbd5f5;
}

/* HERO IMAGE */
.hero-right img {
  width: 320px;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.6);
}

/* SKILLS */
.skills {
  padding: 60px;
  text-align: center;
}

.skills-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

/* PROJECTS */
.projects {
  padding: 60px;
  background: #020617;
  text-align: center;
}

.projects-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project-card {
  background: #0f172a;
  padding: 25px;
  border-radius: 12px;
}

/* CONTACT */
.contact {
  padding: 60px;
  text-align: center;
}

.social-icons i {
  font-size: 24px;
  margin: 15px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
